body, html {
    height: 100%;
}
.selectionarea {
    margin: 0px 15px 0px 15px;
    height: 350px;
    width: 100%;
}

#charactertile0, #charactertile1, #charactertile2, #charactertile3 {
    float: left;
    margin: 15px;
}
.bgi {
    background-image: url("../images/background.jpg");
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%
}

#cheader {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: gold;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.cimg {
    object-fit: fill;
    height: 200px;
    width: 200px;
}
#chealth0, #chealth1, #chealth2, #chealth3 {
    font-size: 36px;
    font-weight: bold;
    
    text-align: center;
    color: green;
}

.gameheader{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: gold;
    text-shadow: 3px 3px black;
}

.characterheader {
    text-align: left;
    font-size: 36px;
    color: red;
    font-weight: bold;
}
.gamecontainer {
    margin: 0% 10% 0% 10%;
    height: 80%;
    width: 85%

}

#yourcharactertile, #enemiestile, #defendtile {
    float: left;
    margin: 0px 15px 0px 15px;
    padding: 5px;
    border: solid green; 
    height: auto;
    width: auto;

}